article(type='content')
  h1 
    a(name="colors") Colors    
  
  p There are 7 color ranges, each having 7 shades.
  
  p Each can be accessed as a variable by name. For example:
  
  ul
    li
      code background: var(--lightest-gray)
    li
      code color: var(--darkest-red)
  
  div(layout='row')
    swatch-container
      swatch(style='background: var(--black); color: var(--white);')
        swatch-info
          h1 Black
          h2 #212529
  div(layout='row')
    swatch-container
      swatch(style='background: var(--lightest-gray);')
        swatch-info
          h1 Lightest
          h1 Gray
          h2 #dee2e6
    swatch-container
      swatch(style='background: var(--lighter-gray);')
        swatch-info
          h1 Lighter
          h1 Gray
          h2 #ced4da
    swatch-container
      swatch(style='background: var(--light-gray);')
        swatch-info
          h1 Light
          h1 Gray
          h2 #adb5bd
    swatch-container
      swatch(style='background: var(--gray);')
        swatch-info
          h1
          h1 Gray
          h2 #868e96
    swatch-container
      swatch(style='background: var(--dark-gray); color: var(--white);')
        swatch-info
          h1 Dark
          h1 Gray
          h2 #495057
    swatch-container
      swatch(style='background: var(--darker-gray); color: var(--white);')
        swatch-info
          h1 Darker
          h1 Gray
          h2 #343a40
    swatch-container
      swatch(style='background: var(--darkest-gray); color: var(--white);')
        swatch-info
          h1 Darkest
          h1 Gray
          h2 #212529
  div(layout='row')
    swatch-container
      swatch(style='background: var(--lightest-purple);')
        swatch-info
          h1 Lightest
          h1 Purple
          h2 #e5dbff
    swatch-container
      swatch(style='background: var(--lighter-purple);')
        swatch-info
          h1 Lighter
          h1 Purple
          h2 #d0bfff
    swatch-container
      swatch(style='background: var(--light-purple);')
        swatch-info
          h1 Light
          h1 Purple
          h2 #b197fc
    swatch-container
      swatch(style='background: var(--purple);')
        swatch-info
          h1
          h1 Purple
          h2 #9775fa
    swatch-container
      swatch(style='background: var(--dark-purple);')
        swatch-info
          h1 Dark
          h1 Purple
          h2 #845ef7
    swatch-container
      swatch(style='background: var(--darker-purple); color: var(--white);')
        swatch-info
          h1 Darker
          h1 Purple
          h2 #7048e8
    swatch-container
      swatch(style='background: var(--darkest-purple); color: var(--white);')
        swatch-info
          h1 Darkest
          h1 Purple
          h2 #5f3dc4
  div(layout='row')
    swatch-container
      swatch(style='background: var(--lightest-blue);')
        swatch-info
          h1 Lightest
          h1 Blue
          h2 #dbe4ff
    swatch-container
      swatch(style='background: var(--lighter-blue);')
        swatch-info
          h1 Lighter
          h1 Blue
          h2 #bac8ff
    swatch-container
      swatch(style='background: var(--light-blue);')
        swatch-info
          h1 Light
          h1 Blue
          h2 #91a7ff
    swatch-container
      swatch(style='background: var(--blue);')
        swatch-info
          h1
          h1 Blue
          h2 #5c7cfa
    swatch-container
      swatch(style='background: var(--dark-blue);')
        swatch-info
          h1 Dark
          h1 Blue
          h2 #4c6ef5
    swatch-container
      swatch(style='background: var(--darker-blue); color: var(--white);')
        swatch-info
          h1 Darker
          h1 Blue
          h2 #3b5bdb
    swatch-container
      swatch(style='background: var(--darkest-blue); color: var(--white);')
        swatch-info
          h1 Darkest
          h1 Blue
          h2 #364fc7
  div(layout='row')
    swatch-container
      swatch(style='background: var(--lightest-green);')
        swatch-info
          h1 Lightest
          h1 Green
          h2 #c3fae8
    swatch-container
      swatch(style='background: var(--lighter-green);')
        swatch-info
          h1 Lighter
          h1 Green
          h2 #63e6be
    swatch-container
      swatch(style='background: var(--light-green);')
        swatch-info
          h1 Light
          h1 Green
          h2 #20c997
    swatch-container
      swatch(style='background: var(--green);')
        swatch-info
          h1
          h1 Green
          h2 #12b886
    swatch-container
      swatch(style='background: var(--dark-green);')
        swatch-info
          h1 Dark
          h1 Green
          h2 #0ca678
    swatch-container
      swatch(style='background: var(--darker-green); color: var(--white);')
        swatch-info
          h1 Darker
          h1 Green
          h2 #099268
    swatch-container
      swatch(style='background: var(--darkest-green); color: var(--white);')
        swatch-info
          h1 Darkest
          h1 Green
          h2 #087f5b
  div(layout='row')
    swatch-container
      swatch(style='background: var(--lightest-yellow);')
        swatch-info
          h1 Lightest
          h1 Yellow
          h2 #fff3bf
    swatch-container
      swatch(style='background: var(--lighter-yellow);')
        swatch-info
          h1 Lighter
          h1 Yellow
          h2 #ffec99
    swatch-container
      swatch(style='background: var(--light-yellow);')
        swatch-info
          h1 Light
          h1 Yellow
          h2 #ffe066
    swatch-container
      swatch(style='background: var(--yellow);')
        swatch-info
          h1
          h1 Yellow
          h2 #ffd43b
    swatch-container
      swatch(style='background: var(--dark-yellow);')
        swatch-info
          h1 Dark
          h1 Yellow
          h2 #fcc419
    swatch-container
      swatch(style='background: var(--darker-yellow);')
        swatch-info
          h1 Darker
          h1 Yellow
          h2 #fab005
    swatch-container
      swatch(style='background: var(--darkest-yellow);')
        swatch-info
          h1 Darkest
          h1 Yellow
          h2 #f59f00
  div(layout='row')
    swatch-container
      swatch(style='background: var(--lightest-orange);')
        swatch-info
          h1 Lightest
          h1 Orange
          h2 #ffe8cc
    swatch-container
      swatch(style='background: var(--lighter-orange);')
        swatch-info
          h1 Lighter
          h1 Orange
          h2 #ffc078
    swatch-container
      swatch(style='background: var(--light-orange);')
        swatch-info
          h1 Light
          h1 Orange
          h2 #ffa94d
    swatch-container
      swatch(style='background: var(--orange);')
        swatch-info
          h1
          h1 Orange
          h2 #fd7e14
    swatch-container
      swatch(style='background: var(--dark-orange);')
        swatch-info
          h1 Dark
          h1 Orange
          h2 #f76707
    swatch-container
      swatch(style='background: var(--darker-orange);')
        swatch-info
          h1 Darker
          h1 Orange
          h2 #e8590c
    swatch-container
      swatch(style='background: var(--darkest-orange); color: var(--white);')
        swatch-info
          h1 Darkest
          h1 Orange
          h2 #d9480f
  div(layout='row')
    swatch-container
      swatch(style='background: var(--lightest-red);')
        swatch-info
          h1 Lightest
          h1 Red
          h2 #ffe3e3
    swatch-container
      swatch(style='background: var(--lighter-red);')
        swatch-info
          h1 Lighter
          h1 Red
          h2 #ffa8a8
    swatch-container
      swatch(style='background: var(--light-red);')
        swatch-info
          h1 Light
          h1 Red
          h2 #ff8787
    swatch-container
      swatch(style='background: var(--red);')
        swatch-info
          h1
          h1 Red
          h2 #fa5252
    swatch-container
      swatch(style='background: var(--dark-red);')
        swatch-info
          h1 Dark
          h1 Red
          h2 #f03e3e
    swatch-container
      swatch(style='background: var(--darker-red); color: var(--white);')
        swatch-info
          h1 Darker
          h1 Red
          h2 #e03131
    swatch-container
      swatch(style='background: var(--darkest-red); color: var(--white);')
        swatch-info
          h1 Darkest
          h1 Red
          h2 #c92a2a
