section
  header
    h1 
      a(name="content") Content
  article(type='content')
    article(type='content')
      h1 H1 Heading
      p
        | Bacon ipsum dolor amet corned beef sausage turducken jerky. Pork spare ribs tail fatback, shankle biltong swine. Capicola meatloaf pork loin shoulder. Meatball shoulder kielbasa alcatra prosciutto salami. Picanha pork porchetta pancetta fatback.
      blockquote
        | Jowl andouille short ribs fatback chislic, tenderloin rump tongue brisket turducken pork prosciutto porchetta ribeye. Ribeye strip steak tri-tip, pork belly burgdoggen prosciutto sirloin andouille flank leberkas jerky biltong. Jowl meatball buffalo, alcatra pork loin ground round chislic salami shankle frankfurter bacon ribeye. Bacon pork loin hamburger tongue pork, drumstick landjaeger beef leberkas chuck t-bone doner sirloin. Alcatra turkey chicken pig, ham porchetta prosciutto chuck beef ribs buffalo tail kevin kielbasa beef. Cow spare ribs alcatra, ground round chicken flank t-bone short ribs brisket jerky biltong filet mignon. Tail ham hock ham pork chop cow landjaeger swine pancetta rump venison ribeye prosciutto meatball.
      h2 H2 Heading
      p
        | Jowl andouille short ribs fatback chislic, tenderloin rump tongue brisket turducken pork prosciutto porchetta ribeye. Ribeye strip steak tri-tip, pork belly burgdoggen prosciutto sirloin andouille flank leberkas jerky biltong. Jowl meatball buffalo, alcatra pork loin ground round chislic salami shankle frankfurter bacon ribeye. Bacon pork loin hamburger tongue pork, drumstick landjaeger beef leberkas chuck t-bone doner sirloin. Alcatra turkey chicken pig, ham porchetta prosciutto chuck beef ribs buffalo tail kevin kielbasa beef. Cow spare ribs alcatra, ground round chicken flank t-bone short ribs brisket jerky biltong filet mignon. Tail ham hock ham pork chop cow landjaeger swine pancetta rump venison ribeye prosciutto meatball.
      h3 H3 Heading
      p
        | Pork chop flank tenderloin, kielbasa strip steak biltong doner drumstick turducken t-bone shankle jowl tongue. Beef ribs ground round filet mignon drumstick venison tenderloin tri-tip ribeye pastrami corned beef rump pork jowl tongue cow. Drumstick ham hock pancetta ball tip salami pork loin swine kevin shankle biltong. Ball tip shank corned beef, tenderloin sirloin capicola chicken beef shoulder pancetta pig shankle kevin ground round turducken.
      h4 H4 Heading
      p
        | Shankle sirloin beef meatloaf, leberkas chicken pancetta. Meatball tail tongue shankle corned beef shoulder, pork loin beef ribs chislic ham turducken chicken capicola fatback meatloaf. Flank shank beef ribs short loin bacon, drumstick buffalo rump ball tip cupim bresaola picanha. Pancetta capicola bresaola beef pig andouille buffalo, ham biltong meatloaf brisket landjaeger bacon.
      h5 H5 Heading
      p
        | Ball tip strip steak ground round shankle, ribeye beef ribs boudin frankfurter short loin spare ribs pork belly. Meatball chuck t-bone chislic ground round short ribs hamburger pancetta biltong tri-tip. Picanha hamburger pork loin, shankle sirloin tongue ham jerky t-bone landjaeger sausage jowl short loin. Drumstick sirloin sausage, venison meatball ball tip burgdoggen pastrami pork loin boudin tongue andouille capicola cupim ham. Pork fatback beef ribs salami.
      h6 H6 Heading
      p
        | Bacon ipsum dolor amet corned beef sausage turducken jerky. Pork spare ribs tail fatback, shankle biltong swine. Capicola meatloaf pork loin shoulder. Meatball shoulder kielbasa alcatra prosciutto salami. Picanha pork porchetta pancetta fatback.
      h2 Lists
      h3 Unordered List
      ul
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Some text 
          br
          ul
            li
              | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
            li
              | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
            li
              | Some text 
              br
              ul
                li
                  | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
                li
                  | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
                li
                  | Some text 
                  br
                  ul
                    li
                      | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
                    li
                      | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
                    li
                      | Some text 
                      br
                      ul
                        li
                          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
                        li
                          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
      h3 Ordered List
      ol
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Some text 
          br
          ol
            li
              | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
            li
              | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
            li
              | Some text 
              br
              ol
                li
                  | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
                li
                  | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
                li
                  | Some text 
                  br
                  ol
                    li
                      | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
                    li
                      | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
                    li
                      | Some text 
                      br
                      ol
                        li
                          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
                        li
                          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        li
          | Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
      h1 Table
      table(type='standard')
        thead
          tr
            th Data
            th Data
            th Data
        tbody
          tr
            td Data
            td Data
            td Data
          tr
            td Data
            td Data Data Data
            td Data
          tr
            td Data
            td Data
            td Data
        tfoot
          tr
            td Foot
            td Foot
            td Foot
      h2 Code
      p
        | Some 
        code filenamepath
        |  and more below:
      pre.
        \nul.a {
          list-style-type: circle;
            }
            ul.b {
              list-style-type: square;
            }
            ol.c {
              list-style-type: upper-roman;
            }
            ol.d {
              list-style-type: lower-alpha;
            }                
      p
        | Jowl andouille short ribs fatback chislic, tenderloin rump tongue brisket turducken pork prosciutto porchetta ribeye. Ribeye strip steak tri-tip, pork belly burgdoggen prosciutto sirloin andouille flank leberkas jerky biltong. Jowl meatball buffalo, alcatra pork loin ground round chislic salami shankle frankfurter bacon ribeye. Bacon pork loin hamburger tongue pork, drumstick landjaeger beef leberkas chuck t-bone doner sirloin. Alcatra turkey chicken pig, ham porchetta prosciutto chuck beef ribs buffalo tail kevin kielbasa beef. Cow spare ribs alcatra, ground round chicken flank t-bone short ribs brisket jerky biltong filet mignon. Tail ham hock ham pork chop cow landjaeger swine pancetta rump venison ribeye prosciutto meatball.
  footer
