section
  header
    h1 
      a(name="typography") Typography
  article(type='content')
    div(layout='row')
      div
        h1 H1
      div
        div(c='v') 28
      div(flex='')
        h1 First Heading
    div(layout='row')
      div
        h2 H2
      div
        div(c='v') 24
      div(flex='')
        h2 Second Heading
    div(layout='row')
      div
        h3 H3
      div
        div(c='v') 20
      div(flex='')
        h3 Third Heading
    div(layout='row')
      div
        h4 H4
      div
        div(c='v') 18
      div(flex='')
        h4 Fourth Heading
        h4
    div(layout='row')
      div
        h5 H5
      div
        div(c='v') 14
      div(flex='')
        h5 Fifth Heading
    div(layout='row')
      div
        h6 H6
      div
        div(c='v') 11
      div(flex='')
        h6 Section Header
    div(layout='row')
      div Body
      div
        div(c='v') 14
      div(flex='')
        p
          | Bacon ipsum dolor amet tail pastrami venison pork ham boudin sausage. Boudin swine fatback, bresaola tenderloin doner rump t-bone meatloaf alcatra. Doner pastrami alcatra, shank ham meatball fatback brisket. Chislic pastrami short loin, beef picanha sausage brisket. Prosciutto brisket sausage pastrami cow rump.
    div(layout='row')
      div Small
      div
        div(c='v') 11
      div(flex='')
        small This is a required field
  footer
